<div class="container">
  <div class="title-container">
    <p class="title" *ngIf="isTuner()">Add new maintenance comments for customer: </p>
    <p class="title" *ngIf="!isTuner()">Add new maintenance comments for tuner: </p>

    <mat-form-field class="select" appearance="legacy" *ngIf="isTuner()">
      <mat-label>Select customer: </mat-label>
      <mat-select class="fonts" [(ngModel)]="currentCustomer">
        <mat-option class="fonts" *ngFor="let user of userList" [value]="user.username" (click)="loadConversationWithCustomers()">
          {{user.username}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="select" appearance="legacy" *ngIf="!isTuner()">
      <mat-label>Select tuner: </mat-label>
      <mat-select class="fonts" [(ngModel)]="currentTuner">
        <mat-option class="fonts" *ngFor="let user of userList" [value]="user.username" (click)="loadConversationWithTuner()">
          {{user.username}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <div class="comment-container" *ngIf="keyboard">
  <mat-card class="comment-card" >
    <mat-form-field class="full-width">
      <mat-label>Comment:</mat-label>
      <textarea matInput [(ngModel)]="newComment"></textarea>
    </mat-form-field>
    <mat-card-subtitle>Posted by {{currentUser}}</mat-card-subtitle>
    <mat-card-actions align="end">
      <button mat-button class="post-button" (click)="post()">Post</button>

    </mat-card-actions>

  </mat-card>

  </div>


  <div class="all-comments-container" *ngFor="let comment of comments">
        <app-commentcard [isMyComment]="isMyComment(comment)" [comment]="comment"
          ></app-commentcard>
  </div>

</div>

<div class="fab-container">

  <button mat-flat-button color="primary"  matTooltip="Show input" (click)="toggleKeyboard()" *ngIf="!keyboard" >
    <span class="material-icons">
      keyboard
    </span>
  </button>
  <button mat-flat-button color="primary"  matTooltip="Hide input" (click)="toggleKeyboard()" *ngIf="keyboard" >
    <span class="material-icons">
      keyboard_hide
    </span>
  </button>
</div>
